html {
    background-color: #101010;
}

body {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #ffffff;
    overflow: hidden;
    z-index: 0;
}


/* Bottom left triangles */

.triangle {
    position: fixed;
    bottom: -150px;
    left: -150px;
}

.triangle1 {
    height: 300px;
    width: 300px;
    background-color: #166282   ; 
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    transform: rotate(45deg);
    z-index: 3;
}

 .triangle2 {
    height: 300px;
    width: 300px;
    background-color: #145672   ; 
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    left: 0px; 
    bottom: -200px;
    transform: rotate(45deg);
    z-index: 2;
}

.triangle3 {
    height: 300px;
    width: 300px;
    background-color: #124E68   ; 
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    left: 150px;
    bottom: -250px;
    transform: rotate(45deg);
    z-index: 1;
} 




@media screen and (max-width: 1098px) {





    /* Triangles */

    .triangle {
        position: fixed;
        bottom: -150px;
        left: 0px;
    }
    
    .triangle1 {
        height: 200px;
        width: 200px;
        background-color: #166282   ; 
        box-shadow: 0px 0px 10px black;
        border-radius: 5px;
        left: -100px; 
        bottom: -100px;
        transform: rotate(45deg);
        z-index: 3;
    }
    
     .triangle2 {
        height: 200px;
        width: 200px;
        background-color: #145672   ; 
        box-shadow: 0px 0px 10px black;
        border-radius: 5px;
        left: 0px; 
        bottom: -125px;
        transform: rotate(45deg);
        z-index: 2;
    }
    
    .triangle3 {
        height: 200px;
        width: 200px;
        background-color: #124E68   ; 
        box-shadow: 0px 0px 10px black;
        border-radius: 5px;
        left: 100px;
        bottom: -150px;
        transform: rotate(45deg);
        z-index: 1;
    } 
}







/* Bubble animation */
.bubble {
    position: fixed;
    bottom: -50px;
    width: 20px;
    height: 20px;
    background: #124e68;
    box-shadow: 0px 0px 5px #1f6785;
    border-radius: 5%;
    animation: bubble 10s ease-in infinite;
    z-index: -1;
}

@keyframes bubble {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(-120vh) scale(0);
    }
}



.project-img {
    transition: background-image 0.5s ease-in-out;
}

.project-name, .project-description, .see-project-btn {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.project-name.active, .project-description.active, .see-project-btn.active {
    opacity: 1;
} 